<!DOCTYPE html>
<html>
  <head>
    <title>RailsObservabilityPlaybook</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% if current_user %>
    <p>Signed In as <%= current_user.email %></p><p><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></p>

    <% end %>
    <%= yield %>
  </body>
</html>
